<div id="step_carrier_selection" class="wizard-step container-fluid">
{{#with i18n.commonApp.portWizard.steps.carrierSelection.multipleLosingCarriers as |carrierSelectionMultipleI18n|}}
	<div class="step-title">
		{{carrierSelectionMultipleI18n.title}}
	</div>
	<div class="step-body">
		<div class="step-section">
			<div class="section-body flex-row-container">
				<div class="flex-item-2">
					{{#with (lookup carrierSelectionMultipleI18n.noticeAndDownload.notices @root.data.carrierWarningType) as |noticeI18n|}}
						{{#monsterPanelText noticeI18n.title 'warning'}}
							{{noticeI18n.message}}
						{{/monsterPanelText}}
					{{/with}}
				</div>
				<div class="flex-item-2 flex-row-container flex-justify-end">
					<div class="flex-initial">
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAA3NCSVQICAjb4U/gAAABF1BMVEUAAAABAQECAgIDAwMEBAQICAg4ODhkZGxlZW1nZ25nZ29oaHBqanFqanJra3JsbHRtbXRtbXVubnVwcHhxcXhxcXl1dXx4eH95eYB6eoF7e4J9fYOAgIiBgYeBgYiDg4mFhYyGhoyHh46IiI6IiI+KipCLi5GQkJWQkJaVlZqWlpuamp+amqCbm6GenqOhoaaioqekpKmoqK2pqa2qqq6rq7CsrLCsrLGysrazs7e6ur67u7+9vcG+vsG/v8PBwcTFxcjGxsnIyMvKyszMzM/Nzc/Q0NPR0dPV1dfW1tjq6uvr6+zs7O3t7e7u7u/x8fHz8/T09PT09PX19fb29vb39/f4+Pj5+fn6+vr7+/v8/Pz9/f3///8GopjnAAAAB3RSTlMAAQIDBAg/j/vKmgAAAR5JREFUOMvN1NdOAkEUgOGDIv8qYodFFFEXLIgVdLAgiroWLNgb7/8c3oghuLNMzF74X385k5nkjIiICF5tiYiI9EhbnpAN+RU4qjNg1QOqh84A8qaQRVPIgilk1hQybQqZMoV0gd8pEAkFDg2Pbs3rNZ0Y7lP+ULWkwh+iwiIiUgHIKk1ZgMrPwC6pP8Pc7nqUZHk7MVQahuKEDhbvyqf5sfvDvRr1POmnAQ2Mvc4D6Q8b2K+yc6I7OvMGwPF7LUXumssVHUx9RgFInzUGrcbM84gOWlcl4snRJexmgqPzC/2t527qj2uZ+u3LASw3N32ex5qMAXYcsMb7g3jwgGDEdaHgaiqA60YC3pn/Ah3dzjht66r77D0/KX8YEvkC/L3JjF0t43sAAAAASUVORK5CYII=" class="iconography-xlarge" alt="" />
					</div>
					<div class="flex-item-4-3">
						<div class="text-block">
						{{#compare @root.data.carrierWarningType "===" "multipleLosingCarriers"}}
							{{carrierSelectionMultipleI18n.noticeAndDownload.labels.multipleLosingCarriersDescription}}
						{{else}}
							{{carrierSelectionMultipleI18n.noticeAndDownload.labels.unsupportedCarrierDescription}}
						{{/compare}}
						</div>
						<button id="download_number_files" class="monster-button">
							{{telicon "download-cloud" class="iconography-button-left"}}
							{{replaceVar carrierSelectionMultipleI18n.noticeAndDownload.labels.downloadFilesButton @root.data.losingCarriersCount}}
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="step-section">
			<div class="section-title">
				{{replaceVar carrierSelectionMultipleI18n.losingCarriers.title @root.data.losingCarriersCount}}
			</div>
			<div class="section-body">
			{{#each @root.data.numbersByLosingCarrier as |carrierNumberGroup|}}
				<div class="flex-row-container flex-align-top">
					<div class="flex-item-4">
						<div class="carrier-name">
							{{carrierNumberGroup.carrier}}
						</div>
						<div class="carrier-number-count">
							{{replaceVar carrierSelectionMultipleI18n.losingCarriers.formats.numberCount carrierNumberGroup.numbers.length}}
						</div>
					</div>
					<div class="flex-item-4-3 flex-row-container number-list">
					{{#each carrierNumberGroup.numbers}}
						<div class="flex-item-5 number-item">
							{{formatPhoneNumber this}}
						</div>
					{{/each}}
					</div>
				</div>
			{{/each}}
			</div>
		</div>
	</div>
{{/with}}
</div>
